html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Sans-serif;
    color: #444444;
}

#myBtn {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 100;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50px;
    /* scroll-behavior: smooth; */
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    display: none;
    justify-content: center;
}

.shadow {
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.row {
    float: left;
    width: 100%;
}

.header {
    background-color: #d70018;
    min-height: 37px;
    padding: 10px 0;
    margin: 0;
    position: fixed;
    z-index: 999;
}

.nav {
    background-color: white;
    min-height: 85px;
    margin: 0px;
}

.info {
    background-color: white;
    min-height: 200px;
    padding-bottom: 15px;
    /* margin-bottom: 15px; */
}

.footer {
    margin-top: 20px;
    min-height: 200px;
}

.box_center {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    display: flex;
    width: 200px;
    justify-content: flex-start;
    margin-top: -10px;
}

.logo img {
    width: 100%;
}

.logo #logo-nav {
    margin-top: 10px;
}

.header .ton-kho {
    background-color: #e34d5e;
    position: absolute;
    top: -5px;
    left: 210px;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 5px;
    color: white;
    line-height: 18px;
}

.ton-kho .drop-box {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    top: 100%;
    left: 0px;
    border-radius: 5px;
    list-style: none;
    padding: 5px 0px;
    margin: 2px 0 0;
    text-align: left;
    z-index: 10;
}

.ton-kho .drop-box a {
    display: block;
    font-size: x-small;
    color: black;
    text-decoration: none;
    padding: 0 30px;
    background: url('../img/bg-dropbox.png') no-repeat 10px;
    line-height: 30px;
}

.header .ton-kho:hover .drop-box {
    display: block;
}

.drop-box a:hover {
    background-color: #eee;
}

.boxSearch {
    position: absolute;
    width: 330px;
    height: 25px;
    left: 350px;
    top: 0px;
    border-radius: 15px;
    padding: 5px 0px 5px 20px;
    border: white;
}

.boxSearch:focus {
    outline: none;
}

.boxSearch img {
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.goi-mua-hang {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 710px;
    padding: 5px;
    border-radius: 10px;
}

.goi-mua-hang a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.goi-mua-hang div i {
    font-size: 20px;
    margin-top: 3px;
}

.goi-mua-hang:hover {
    background-color: #df3346;
}

.cua-hang-gan {
    width: 80px;
    position: absolute;
    top: 0px;
    left: 830px;
    padding: 5px;
    border-radius: 10px;
}

.cua-hang-gan a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.cua-hang-gan div i {
    font-size: 20px;
    margin-top: 3px;
    margin-right: 6px;
}

.cua-hang-gan:hover {
    background-color: #df3346;
}

.tcdh {
    width: 90px;
    position: absolute;
    top: 0px;
    left: 930px;
    padding: 5px;
    border-radius: 10px;
}

.tcdh a {
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.tcdh div i {
    font-size: 20px;
    margin-top: 3px;
    margin-right: 6px;
}

.tcdh:hover {
    background-color: #df3346;
}

.gio-hang {
    width: 60px;
    position: absolute;
    top: 0px;
    left: 1035px;
    padding: 5px;
    border-radius: 10px;
}

.gio-hang a {
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.gio-hang div i {
    font-size: 20px;
    margin-top: 3px;
    margin-right: 6px;
}

.gio-hang:hover {
    background-color: #df3346;
}

.smember {
    width: 60px;
    height: 30px;
    position: absolute;
    top: -3px;
    left: 1115px;
    padding: 5px;
    border-radius: 10px;
    background-color: #df3346;
    text-align: center;
}

.smember a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.smember img {
    width: 20px;
    margin: 0px;
}

.smember p {
    /* position: absolute;
top: 10px; */
    text-align: center;
    margin: 0px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    position: absolute;
    top: 50px;
}

.menu>ul {
    font-size: 12px;
    padding: 0;
}

.menu>ul>li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.menu>ul>li>a {
    display: block;
    text-decoration: none;
    /* margin: 10px; */
    color: black;
}

.menu .fa-home {
    color: #d70018;
}

.banner_ip {
    border-radius: 10px;
}

.info_title {
    margin: 10px;
}

.col-20 {
    width: 20%;
    float: left;
    box-sizing: border-box;
}

.prod {
    /* padding: 10px; */
    /* margin: 5px; */
    /* text-align: center; */
    position: relative;
    border-radius: 10px;
    height: 350px;
    padding: 10px;
    margin: 5px;
    z-index: 100;
    color: black;
}

.name {
    font-size: 14px;
    font-weight: 700;
}

.image {
    max-width: 95%;
    /* height: 200px; */
    padding: 20px 0px;
}

.price {
    margin-top: 10px;
    color: #D70018;
    font-size: 15px;
    font-weight: bold;
}

.raiting {
    font-size: 12px;
    margin: 10px 0;
}

.raiting i {
    color: #F59E0B;
}

.sap-ve-hang {
    text-align: center;
    background: #FEF2F2;
    text-transform: uppercase;
    color: #D70018;
    margin-bottom: 1rem;
    /* padding: 0.2rem 0.5rem; */
    padding: 2px;
    border: 1px solid #D70018;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.5;
    width: 85px;
    margin: 10px 0;
}

.box-sales {
    width: 80px;
    height: 31px;
    background: url('../img/giam_gia.svg') center center no-repeat;
    position: absolute;
    top: 0px;
    left: -4px;
    font-size: 13px;
    text-align: center;
    color: white;
    line-height: 25px;
    font-weight: bold;
}

.box-hotsale {
    width: 50px;
    height: 50px;
    background: url('../img/hotsale.svg') center center no-repeat;
    position: absolute;
    top: -10px;
    right: -8px;
}

.old-price {
    display: inline-block;
    margin: 0 0px 5px 5px;
    /* float: left; */
    font-size: 12px;
    line-height: 1.4;
    text-decoration: line-through;
    color: #707070;
}

.footer {
    /* height: 200px; */
    background-color: white;
    /* margin-top: 20px; */
}

.footer_content {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: black;
    padding: 10px 0;
}

.footer_row {
    width: 190px;
    padding: 0 10px;
}

.footer_row a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 0px;
    font-size: 10px;
}

.footer_row h5 {
    margin: 10px 0px;
    font-size: 15px;
}

.payment {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 300px;
}

.payment div {
    width: 60px;
    max-height: 20px;
    padding: 0;
    margin: 0 5px;
}

.payment a {
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

.payment img {
    width: 100%;
    max-height: 20px;
}

.dien_thoai_vui {
    width: 150px;
}

.prod_title {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.prod_title div {
    padding: 0px 0px 0px 10px;
}

.prod_title #iPhone_12 h4 {
    margin: 0;
    padding: 0;
}

.prod_title .raiting {
    margin-top: 5px;
    margin-right: 520px;
}

.prod_title .fb-like {
    /* margin-top: 5px; */
}

#ip13promax_img {
    width: 75%;
    margin-left: 15px;
}

.ip13_blog {
    /* position: absolute; */
    /* top: 500px; */
    min-height: 1000px;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 72%;
    font-size: 15px;
    /* line-height: 20px; */
}

.ip13_blog h2 {
    margin: 0;
    font-size: 28px;
}

.ip13_blog img {
    display: block;
    margin: 10px auto;
    width: 100%;
}

.ip13_blog ul li {
    line-height: 30px;
}

.ip13_blog h4 {
    margin: 0;
    padding: 0;
}

.prod-detail {
    display: flex;
    justify-content: space-between;
}

.prod-detail div {
    /* border: 1px solid red; */
    /* min-height: 500px; */
    width: 420px;
}

iframe[name=prod-img] {
    width: 100%;
    height: 440px;
    /* position: absolute; */
}

.box-prod-img {
    margin: 0px;
    padding: 0px;
    /* width: 90%; */
    border-radius: 10px;
    border: 1px solid #D1D5DB;
}

.swiper-box {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    margin-top: 20px;
}

.swiper-box a {
    text-align: center;
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.swiper-ip-vang {
    background: no-repeat url("../img/iphone-12-pro-max-vang.jpg") center/80%;
}

.swiper-ip-xanh {
    background: no-repeat url("../img/iphone-12-pro-max-xanh-1.jpg") center/80%;
}

.swiper-ip-bac {
    background: no-repeat url("../img/iphone-12-pro-max-bac.jpg") center/80%;
}

.swiper-ip-xam {
    background: no-repeat url("../img/iphone-12-pro-max-xam.jpg") center/80%;
}

.swiper-box a:hover {
    border: 1px solid red;
}

.prod-box-left #banner-bot img {
    border-radius: 10px;
    width: 100%;
}

.prod-box-left {
    padding: 10px;
    /* border: 1px solid red; */
}

.prod-box-center {
    padding: 10px;
}

.form-group {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* width: 100%; */
}

.form-group a {
    /* text-align: center; */
    margin: 10px 10px 10px 0;
    padding: 5px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    min-width: 130px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.form-group label p {
    margin: 5px;
    padding: 0;
}

.form-group a:hover {
    border: 1px solid #D70018;
}

.khuyen-mai {
    border: 1px solid #FEE2E2;
    border-radius: 10px;
    font-size: 14px;
}

.khuyen-mai h4 {
    background-color: #FEE2E2;
    margin: 0;
    padding: 10px;
    color: #D70018;
    font-size: 18px;
}

.khuyen-mai p {
    padding: 0px 10px;
    line-height: 20px;
}

.khuyen-mai p i {
    color: #2BA832;
}

.khuyen-mai p a {
    text-decoration: none;
    color: red;
}

.box-action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-action a {
    text-align: center;
    display: block;
    margin: 14px 0 0px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 15px;
}

.box-action .mua-ngay {
    background-color: #e11b1e;
    border: solid 1px #e11b1e;
    width: 420px;
    /* text-align: center;
    display: block;
    margin: 10px 0;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 18px; */
}

.tra-gop {
    width: 203px;
    background: #277cea;
    border: solid 1px #1d72e0;
}

.box-thong-tin-may {
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    margin: 10px;
    font-size: 15px;
    width: 275px !important;
    padding: 10px;
}

.box-thong-tin-may p {
    display: block;
    /* width: 250px; */
    line-height: 25px;
}

.prod-box-right h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.prod-box-right a {
    text-decoration: none;
    color: red;
}

.cont-prod-info {
    /* display: flex;
    justify-content: space-between; */
    z-index: -10;
}

.thong-so-ki-thuat {
    width: 25%;
    float: right;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.thong-so-ki-thuat h4 {
    padding: 0;
    margin: 5px;
}

.thong-so-ki-thuat table {
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    border-spacing: 0;
    empty-cells: show;
    /* font-size: 100%; */
}

.thong-so-ki-thuat tr:nth-child(2n) {
    background-color: #F2F2F2;
    /* border: 1px solid #F2F2F2; */
}

.thong-so-ki-thuat tr,
td {
    padding: 8px;
}

.thong-so-ki-thuat td {
    width: 35%;
}

.prod-box-center>.price {
    font-size: 22px;
}

#lua-chon {
    font-size: 15px;
}

.color-ip-vang {
    background: no-repeat url("../img/iphone-12-pro-max-vang.jpg") right/25%;
}

.color-ip-xanh {
    background: no-repeat url("../img/iphone-12-pro-max-xanh-1.jpg") right/25%;
}

.color-ip-bac {
    background: no-repeat url("../img/iphone-12-pro-max-bac.jpg") right/25%;
}

.color-ip-xam {
    background: no-repeat url("../img/iphone-12-pro-max-xam.jpg") right/25%;
}

.map {
    font-size: 18px;
    box-sizing: border-box;
    line-height: 25px;
    background: #F8F8F8;
    padding-bottom: 20px;
}

.map iframe {
    display: block;
    margin: 0px auto;
}

.map p {
    padding-top: 5px;
}

.comments {
    z-index: 200;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.comments h2 {
    margin: 0;
}

.map-col {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.map-col div {
    width: 33%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}